name: PR Hello World

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  hello:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Echo Hello World
        run: echo "hello world"
